.root {
  appearance: none;
  border: 1px solid var(--ui2-background-accent-primary);
  background: var(--ui2-background-accent-primary);
  color: var(--ui2-button-text-color, var(--ui2-content-primary-inverse));
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 6px;
  font-family: var(--ui2-textstyle-data-s-semibold-font-family);
  font-weight: var(--ui2-textstyle-data-s-semibold-font-weight);
  font-size: var(--ui2-textstyle-data-s-semibold-font-size);
  letter-spacing: var(--ui2-textstyle-data-s-semibold-letter-spacing);
  line-height: var(--ui2-textstyle-data-s-semibold-line-height);
  text-transform: var(--ui2-textstyle-data-s-semibold-text-transform);
  padding: 0 7px;
  height: 28px;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.15s ease, border-color 0.15s ease, color 0.15s ease;
}

.root:focus-visible {
  outline: 1px solid var(--ui2-state-focus);
  outline-offset: -1px;
}

.root:hover:not(.disabled) {
  background: linear-gradient(
      0deg,
      var(--ui2-background-accent-primary-shade),
      var(--ui2-background-accent-primary-shade)
    ),
    var(--ui2-background-accent-primary);
}

.root:active:not(.disabled),
.root.active:not(.disabled) {
  background: linear-gradient(
      0deg,
      var(--ui2-background-accent-primary-shade),
      var(--ui2-background-accent-primary-shade)
    ),
    linear-gradient(
      0deg,
      var(--ui2-background-accent-primary-shade),
      var(--ui2-background-accent-primary-shade)
    ),
    var(--ui2-background-accent-primary);
}

.root.disabled {
  color: var(--ui2-content-inactive);
  background: var(--ui2-background-tertiary);
  border-color: var(--ui2-background-tertiary);
  cursor: not-allowed;
}

.size-m {
  height: 28px;
  padding: 0 7px;
}

.size-l {
  height: 36px;
  padding: 0 15px;
}

.variant-secondary,
.variant-tertiary {
  color: var(--ui2-content-primary);
  background: transparent;
}

.variant-secondary:hover:not(.disabled),
.variant-tertiary:hover:not(.disabled) {
  background: var(--ui2-state-hover-lvl-1);
}

.variant-secondary:active:not(.disabled),
.variant-tertiary:active:not(.disabled),
.variant-secondary.active:not(.disabled),
.variant-tertiary.active:not(.disabled) {
  background: var(--ui2-state-hover-lvl-2);
  color: var(--ui2-background-accent-primary);
}

.variant-secondary {
  border-color: var(--ui2-stroke-primary);
}

.variant-tertiary {
  border-color: transparent;
}

.variant-tertiary.disabled {
  background: transparent;
  border-color: transparent;
}

.visual {
  width: 18px;
  height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.block {
  width: 100%;
}
