:root {
  /* UI2 shades */
  --ui2-shade-ember-rose-100: rgba(var(--ui2-primitive-ember-rose-500-rgb), 1);
  --ui2-shade-ember-rose-96: rgba(var(--ui2-primitive-ember-rose-500-rgb), 0.96);
  --ui2-shade-ember-rose-92: rgba(var(--ui2-primitive-ember-rose-500-rgb), 0.92);
  --ui2-shade-ember-rose-88: rgba(var(--ui2-primitive-ember-rose-500-rgb), 0.88);
  --ui2-shade-ember-rose-84: rgba(var(--ui2-primitive-ember-rose-500-rgb), 0.84);
  --ui2-shade-ember-rose-80: rgba(var(--ui2-primitive-ember-rose-500-rgb), 0.8);
  --ui2-shade-ember-rose-76: rgba(var(--ui2-primitive-ember-rose-500-rgb), 0.76);
  --ui2-shade-ember-rose-72: rgba(var(--ui2-primitive-ember-rose-500-rgb), 0.72);
  --ui2-shade-ember-rose-68: rgba(var(--ui2-primitive-ember-rose-500-rgb), 0.68);
  --ui2-shade-ember-rose-64: rgba(var(--ui2-primitive-ember-rose-500-rgb), 0.64);
  --ui2-shade-ember-rose-60: rgba(var(--ui2-primitive-ember-rose-500-rgb), 0.6);
  --ui2-shade-ember-rose-56: rgba(var(--ui2-primitive-ember-rose-500-rgb), 0.56);
  --ui2-shade-ember-rose-52: rgba(var(--ui2-primitive-ember-rose-500-rgb), 0.52);
  --ui2-shade-ember-rose-48: rgba(var(--ui2-primitive-ember-rose-500-rgb), 0.48);
  --ui2-shade-ember-rose-44: rgba(var(--ui2-primitive-ember-rose-500-rgb), 0.44);
  --ui2-shade-ember-rose-40: rgba(var(--ui2-primitive-ember-rose-500-rgb), 0.4);
  --ui2-shade-ember-rose-36: rgba(var(--ui2-primitive-ember-rose-500-rgb), 0.36);
  --ui2-shade-ember-rose-32: rgba(var(--ui2-primitive-ember-rose-500-rgb), 0.32);
  --ui2-shade-ember-rose-28: rgba(var(--ui2-primitive-ember-rose-500-rgb), 0.28);
  --ui2-shade-ember-rose-24: rgba(var(--ui2-primitive-ember-rose-500-rgb), 0.24);
  --ui2-shade-ember-rose-20: rgba(var(--ui2-primitive-ember-rose-500-rgb), 0.2);
  --ui2-shade-ember-rose-16: rgba(var(--ui2-primitive-ember-rose-500-rgb), 0.16);
  --ui2-shade-ember-rose-12: rgba(var(--ui2-primitive-ember-rose-500-rgb), 0.12);
  --ui2-shade-ember-rose-8: rgba(var(--ui2-primitive-ember-rose-500-rgb), 0.08);
  --ui2-shade-ember-rose-4: rgba(var(--ui2-primitive-ember-rose-500-rgb), 0.04);
  --ui2-shade-coral-blaze-100: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 1);
  --ui2-shade-coral-blaze-96: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 0.96);
  --ui2-shade-coral-blaze-92: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 0.92);
  --ui2-shade-coral-blaze-88: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 0.88);
  --ui2-shade-coral-blaze-84: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 0.84);
  --ui2-shade-coral-blaze-80: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 0.8);
  --ui2-shade-coral-blaze-76: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 0.76);
  --ui2-shade-coral-blaze-72: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 0.72);
  --ui2-shade-coral-blaze-68: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 0.68);
  --ui2-shade-coral-blaze-64: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 0.64);
  --ui2-shade-coral-blaze-60: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 0.6);
  --ui2-shade-coral-blaze-56: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 0.56);
  --ui2-shade-coral-blaze-52: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 0.52);
  --ui2-shade-coral-blaze-48: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 0.48);
  --ui2-shade-coral-blaze-44: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 0.44);
  --ui2-shade-coral-blaze-40: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 0.4);
  --ui2-shade-coral-blaze-36: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 0.36);
  --ui2-shade-coral-blaze-32: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 0.32);
  --ui2-shade-coral-blaze-28: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 0.28);
  --ui2-shade-coral-blaze-24: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 0.24);
  --ui2-shade-coral-blaze-20: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 0.2);
  --ui2-shade-coral-blaze-16: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 0.16);
  --ui2-shade-coral-blaze-12: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 0.12);
  --ui2-shade-coral-blaze-8: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 0.08);
  --ui2-shade-coral-blaze-4: rgba(var(--ui2-primitive-coral-blaze-500-rgb), 0.04);
  --ui2-shade-desert-sunrise-100: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 1);
  --ui2-shade-desert-sunrise-96: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 0.96);
  --ui2-shade-desert-sunrise-92: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 0.92);
  --ui2-shade-desert-sunrise-88: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 0.88);
  --ui2-shade-desert-sunrise-84: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 0.84);
  --ui2-shade-desert-sunrise-80: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 0.8);
  --ui2-shade-desert-sunrise-76: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 0.76);
  --ui2-shade-desert-sunrise-72: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 0.72);
  --ui2-shade-desert-sunrise-68: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 0.68);
  --ui2-shade-desert-sunrise-64: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 0.64);
  --ui2-shade-desert-sunrise-60: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 0.6);
  --ui2-shade-desert-sunrise-56: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 0.56);
  --ui2-shade-desert-sunrise-52: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 0.52);
  --ui2-shade-desert-sunrise-48: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 0.48);
  --ui2-shade-desert-sunrise-44: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 0.44);
  --ui2-shade-desert-sunrise-40: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 0.4);
  --ui2-shade-desert-sunrise-36: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 0.36);
  --ui2-shade-desert-sunrise-32: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 0.32);
  --ui2-shade-desert-sunrise-28: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 0.28);
  --ui2-shade-desert-sunrise-24: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 0.24);
  --ui2-shade-desert-sunrise-20: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 0.2);
  --ui2-shade-desert-sunrise-16: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 0.16);
  --ui2-shade-desert-sunrise-12: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 0.12);
  --ui2-shade-desert-sunrise-8: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 0.08);
  --ui2-shade-desert-sunrise-4: rgba(var(--ui2-primitive-desert-sunrise-500-rgb), 0.04);
  --ui2-shade-lavender-mist-100: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 1);
  --ui2-shade-lavender-mist-96: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 0.96);
  --ui2-shade-lavender-mist-92: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 0.92);
  --ui2-shade-lavender-mist-88: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 0.88);
  --ui2-shade-lavender-mist-84: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 0.84);
  --ui2-shade-lavender-mist-80: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 0.8);
  --ui2-shade-lavender-mist-76: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 0.76);
  --ui2-shade-lavender-mist-72: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 0.72);
  --ui2-shade-lavender-mist-68: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 0.68);
  --ui2-shade-lavender-mist-64: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 0.64);
  --ui2-shade-lavender-mist-60: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 0.6);
  --ui2-shade-lavender-mist-56: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 0.56);
  --ui2-shade-lavender-mist-52: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 0.52);
  --ui2-shade-lavender-mist-48: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 0.48);
  --ui2-shade-lavender-mist-44: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 0.44);
  --ui2-shade-lavender-mist-40: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 0.4);
  --ui2-shade-lavender-mist-36: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 0.36);
  --ui2-shade-lavender-mist-32: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 0.32);
  --ui2-shade-lavender-mist-28: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 0.28);
  --ui2-shade-lavender-mist-24: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 0.24);
  --ui2-shade-lavender-mist-20: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 0.2);
  --ui2-shade-lavender-mist-16: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 0.16);
  --ui2-shade-lavender-mist-12: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 0.12);
  --ui2-shade-lavender-mist-8: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 0.08);
  --ui2-shade-lavender-mist-4: rgba(var(--ui2-primitive-lavender-mist-500-rgb), 0.04);
  --ui2-shade-minted-lagoon-100: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 1);
  --ui2-shade-minted-lagoon-96: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 0.96);
  --ui2-shade-minted-lagoon-92: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 0.92);
  --ui2-shade-minted-lagoon-88: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 0.88);
  --ui2-shade-minted-lagoon-84: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 0.84);
  --ui2-shade-minted-lagoon-80: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 0.8);
  --ui2-shade-minted-lagoon-76: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 0.76);
  --ui2-shade-minted-lagoon-72: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 0.72);
  --ui2-shade-minted-lagoon-68: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 0.68);
  --ui2-shade-minted-lagoon-64: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 0.64);
  --ui2-shade-minted-lagoon-60: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 0.6);
  --ui2-shade-minted-lagoon-56: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 0.56);
  --ui2-shade-minted-lagoon-52: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 0.52);
  --ui2-shade-minted-lagoon-48: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 0.48);
  --ui2-shade-minted-lagoon-44: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 0.44);
  --ui2-shade-minted-lagoon-40: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 0.4);
  --ui2-shade-minted-lagoon-36: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 0.36);
  --ui2-shade-minted-lagoon-32: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 0.32);
  --ui2-shade-minted-lagoon-28: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 0.28);
  --ui2-shade-minted-lagoon-24: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 0.24);
  --ui2-shade-minted-lagoon-20: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 0.2);
  --ui2-shade-minted-lagoon-16: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 0.16);
  --ui2-shade-minted-lagoon-12: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 0.12);
  --ui2-shade-minted-lagoon-8: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 0.08);
  --ui2-shade-minted-lagoon-4: rgba(var(--ui2-primitive-minted-lagoon-500-rgb), 0.04);
  --ui2-shade-pine-forest-100: rgba(var(--ui2-primitive-pine-forest-500-rgb), 1);
  --ui2-shade-pine-forest-96: rgba(var(--ui2-primitive-pine-forest-500-rgb), 0.96);
  --ui2-shade-pine-forest-92: rgba(var(--ui2-primitive-pine-forest-500-rgb), 0.92);
  --ui2-shade-pine-forest-88: rgba(var(--ui2-primitive-pine-forest-500-rgb), 0.88);
  --ui2-shade-pine-forest-84: rgba(var(--ui2-primitive-pine-forest-500-rgb), 0.84);
  --ui2-shade-pine-forest-80: rgba(var(--ui2-primitive-pine-forest-500-rgb), 0.8);
  --ui2-shade-pine-forest-76: rgba(var(--ui2-primitive-pine-forest-500-rgb), 0.76);
  --ui2-shade-pine-forest-72: rgba(var(--ui2-primitive-pine-forest-500-rgb), 0.72);
  --ui2-shade-pine-forest-68: rgba(var(--ui2-primitive-pine-forest-500-rgb), 0.68);
  --ui2-shade-pine-forest-64: rgba(var(--ui2-primitive-pine-forest-500-rgb), 0.64);
  --ui2-shade-pine-forest-60: rgba(var(--ui2-primitive-pine-forest-500-rgb), 0.6);
  --ui2-shade-pine-forest-56: rgba(var(--ui2-primitive-pine-forest-500-rgb), 0.56);
  --ui2-shade-pine-forest-52: rgba(var(--ui2-primitive-pine-forest-500-rgb), 0.52);
  --ui2-shade-pine-forest-48: rgba(var(--ui2-primitive-pine-forest-500-rgb), 0.48);
  --ui2-shade-pine-forest-44: rgba(var(--ui2-primitive-pine-forest-500-rgb), 0.44);
  --ui2-shade-pine-forest-40: rgba(var(--ui2-primitive-pine-forest-500-rgb), 0.4);
  --ui2-shade-pine-forest-36: rgba(var(--ui2-primitive-pine-forest-500-rgb), 0.36);
  --ui2-shade-pine-forest-32: rgba(var(--ui2-primitive-pine-forest-500-rgb), 0.32);
  --ui2-shade-pine-forest-28: rgba(var(--ui2-primitive-pine-forest-500-rgb), 0.28);
  --ui2-shade-pine-forest-24: rgba(var(--ui2-primitive-pine-forest-500-rgb), 0.24);
  --ui2-shade-pine-forest-20: rgba(var(--ui2-primitive-pine-forest-500-rgb), 0.2);
  --ui2-shade-pine-forest-16: rgba(var(--ui2-primitive-pine-forest-500-rgb), 0.16);
  --ui2-shade-pine-forest-12: rgba(var(--ui2-primitive-pine-forest-500-rgb), 0.12);
  --ui2-shade-pine-forest-8: rgba(var(--ui2-primitive-pine-forest-500-rgb), 0.08);
  --ui2-shade-pine-forest-4: rgba(var(--ui2-primitive-pine-forest-500-rgb), 0.04);
  --ui2-shade-ocean-breeze-100: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 1);
  --ui2-shade-ocean-breeze-96: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 0.96);
  --ui2-shade-ocean-breeze-92: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 0.92);
  --ui2-shade-ocean-breeze-88: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 0.88);
  --ui2-shade-ocean-breeze-84: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 0.84);
  --ui2-shade-ocean-breeze-80: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 0.8);
  --ui2-shade-ocean-breeze-76: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 0.76);
  --ui2-shade-ocean-breeze-72: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 0.72);
  --ui2-shade-ocean-breeze-68: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 0.68);
  --ui2-shade-ocean-breeze-64: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 0.64);
  --ui2-shade-ocean-breeze-60: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 0.6);
  --ui2-shade-ocean-breeze-56: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 0.56);
  --ui2-shade-ocean-breeze-52: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 0.52);
  --ui2-shade-ocean-breeze-48: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 0.48);
  --ui2-shade-ocean-breeze-44: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 0.44);
  --ui2-shade-ocean-breeze-40: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 0.4);
  --ui2-shade-ocean-breeze-36: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 0.36);
  --ui2-shade-ocean-breeze-32: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 0.32);
  --ui2-shade-ocean-breeze-28: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 0.28);
  --ui2-shade-ocean-breeze-24: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 0.24);
  --ui2-shade-ocean-breeze-20: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 0.2);
  --ui2-shade-ocean-breeze-16: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 0.16);
  --ui2-shade-ocean-breeze-12: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 0.12);
  --ui2-shade-ocean-breeze-8: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 0.08);
  --ui2-shade-ocean-breeze-4: rgba(var(--ui2-primitive-ocean-breeze-500-rgb), 0.04);
  --ui2-shade-dark-navy-100: rgba(var(--ui2-primitive-dark-navy-500-rgb), 1);
  --ui2-shade-dark-navy-96: rgba(var(--ui2-primitive-dark-navy-500-rgb), 0.96);
  --ui2-shade-dark-navy-92: rgba(var(--ui2-primitive-dark-navy-500-rgb), 0.92);
  --ui2-shade-dark-navy-88: rgba(var(--ui2-primitive-dark-navy-500-rgb), 0.88);
  --ui2-shade-dark-navy-84: rgba(var(--ui2-primitive-dark-navy-500-rgb), 0.84);
  --ui2-shade-dark-navy-80: rgba(var(--ui2-primitive-dark-navy-500-rgb), 0.8);
  --ui2-shade-dark-navy-76: rgba(var(--ui2-primitive-dark-navy-500-rgb), 0.76);
  --ui2-shade-dark-navy-72: rgba(var(--ui2-primitive-dark-navy-500-rgb), 0.72);
  --ui2-shade-dark-navy-68: rgba(var(--ui2-primitive-dark-navy-500-rgb), 0.68);
  --ui2-shade-dark-navy-64: rgba(var(--ui2-primitive-dark-navy-500-rgb), 0.64);
  --ui2-shade-dark-navy-60: rgba(var(--ui2-primitive-dark-navy-500-rgb), 0.6);
  --ui2-shade-dark-navy-56: rgba(var(--ui2-primitive-dark-navy-500-rgb), 0.56);
  --ui2-shade-dark-navy-52: rgba(var(--ui2-primitive-dark-navy-500-rgb), 0.52);
  --ui2-shade-dark-navy-48: rgba(var(--ui2-primitive-dark-navy-500-rgb), 0.48);
  --ui2-shade-dark-navy-44: rgba(var(--ui2-primitive-dark-navy-500-rgb), 0.44);
  --ui2-shade-dark-navy-40: rgba(var(--ui2-primitive-dark-navy-500-rgb), 0.4);
  --ui2-shade-dark-navy-36: rgba(var(--ui2-primitive-dark-navy-500-rgb), 0.36);
  --ui2-shade-dark-navy-32: rgba(var(--ui2-primitive-dark-navy-500-rgb), 0.32);
  --ui2-shade-dark-navy-28: rgba(var(--ui2-primitive-dark-navy-500-rgb), 0.28);
  --ui2-shade-dark-navy-24: rgba(var(--ui2-primitive-dark-navy-500-rgb), 0.24);
  --ui2-shade-dark-navy-20: rgba(var(--ui2-primitive-dark-navy-500-rgb), 0.2);
  --ui2-shade-dark-navy-16: rgba(var(--ui2-primitive-dark-navy-500-rgb), 0.16);
  --ui2-shade-dark-navy-12: rgba(var(--ui2-primitive-dark-navy-500-rgb), 0.12);
  --ui2-shade-dark-navy-8: rgba(var(--ui2-primitive-dark-navy-500-rgb), 0.08);
  --ui2-shade-dark-navy-4: rgba(var(--ui2-primitive-dark-navy-500-rgb), 0.04);
  --ui2-shade-blue-pulse-100: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 1);
  --ui2-shade-blue-pulse-96: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 0.96);
  --ui2-shade-blue-pulse-92: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 0.92);
  --ui2-shade-blue-pulse-88: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 0.88);
  --ui2-shade-blue-pulse-84: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 0.84);
  --ui2-shade-blue-pulse-80: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 0.8);
  --ui2-shade-blue-pulse-76: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 0.76);
  --ui2-shade-blue-pulse-72: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 0.72);
  --ui2-shade-blue-pulse-68: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 0.68);
  --ui2-shade-blue-pulse-64: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 0.64);
  --ui2-shade-blue-pulse-60: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 0.6);
  --ui2-shade-blue-pulse-56: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 0.56);
  --ui2-shade-blue-pulse-52: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 0.52);
  --ui2-shade-blue-pulse-48: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 0.48);
  --ui2-shade-blue-pulse-44: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 0.44);
  --ui2-shade-blue-pulse-40: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 0.4);
  --ui2-shade-blue-pulse-36: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 0.36);
  --ui2-shade-blue-pulse-32: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 0.32);
  --ui2-shade-blue-pulse-28: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 0.28);
  --ui2-shade-blue-pulse-24: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 0.24);
  --ui2-shade-blue-pulse-20: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 0.2);
  --ui2-shade-blue-pulse-16: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 0.16);
  --ui2-shade-blue-pulse-12: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 0.12);
  --ui2-shade-blue-pulse-8: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 0.08);
  --ui2-shade-blue-pulse-4: rgba(var(--ui2-primitive-blue-pulse-500-rgb), 0.04);
  --ui2-shade-mystic-violet-100: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 1);
  --ui2-shade-mystic-violet-96: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 0.96);
  --ui2-shade-mystic-violet-92: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 0.92);
  --ui2-shade-mystic-violet-88: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 0.88);
  --ui2-shade-mystic-violet-84: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 0.84);
  --ui2-shade-mystic-violet-80: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 0.8);
  --ui2-shade-mystic-violet-76: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 0.76);
  --ui2-shade-mystic-violet-72: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 0.72);
  --ui2-shade-mystic-violet-68: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 0.68);
  --ui2-shade-mystic-violet-64: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 0.64);
  --ui2-shade-mystic-violet-60: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 0.6);
  --ui2-shade-mystic-violet-56: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 0.56);
  --ui2-shade-mystic-violet-52: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 0.52);
  --ui2-shade-mystic-violet-48: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 0.48);
  --ui2-shade-mystic-violet-44: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 0.44);
  --ui2-shade-mystic-violet-40: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 0.4);
  --ui2-shade-mystic-violet-36: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 0.36);
  --ui2-shade-mystic-violet-32: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 0.32);
  --ui2-shade-mystic-violet-28: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 0.28);
  --ui2-shade-mystic-violet-24: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 0.24);
  --ui2-shade-mystic-violet-20: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 0.2);
  --ui2-shade-mystic-violet-16: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 0.16);
  --ui2-shade-mystic-violet-12: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 0.12);
  --ui2-shade-mystic-violet-8: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 0.08);
  --ui2-shade-mystic-violet-4: rgba(var(--ui2-primitive-mystic-violet-500-rgb), 0.04);
  --ui2-shade-soft-grey-100: rgba(var(--ui2-primitive-soft-grey-500-rgb), 1);
  --ui2-shade-soft-grey-96: rgba(var(--ui2-primitive-soft-grey-500-rgb), 0.96);
  --ui2-shade-soft-grey-92: rgba(var(--ui2-primitive-soft-grey-500-rgb), 0.92);
  --ui2-shade-soft-grey-88: rgba(var(--ui2-primitive-soft-grey-500-rgb), 0.88);
  --ui2-shade-soft-grey-84: rgba(var(--ui2-primitive-soft-grey-500-rgb), 0.84);
  --ui2-shade-soft-grey-80: rgba(var(--ui2-primitive-soft-grey-500-rgb), 0.8);
  --ui2-shade-soft-grey-76: rgba(var(--ui2-primitive-soft-grey-500-rgb), 0.76);
  --ui2-shade-soft-grey-72: rgba(var(--ui2-primitive-soft-grey-500-rgb), 0.72);
  --ui2-shade-soft-grey-68: rgba(var(--ui2-primitive-soft-grey-500-rgb), 0.68);
  --ui2-shade-soft-grey-64: rgba(var(--ui2-primitive-soft-grey-500-rgb), 0.64);
  --ui2-shade-soft-grey-60: rgba(var(--ui2-primitive-soft-grey-500-rgb), 0.6);
  --ui2-shade-soft-grey-56: rgba(var(--ui2-primitive-soft-grey-500-rgb), 0.56);
  --ui2-shade-soft-grey-52: rgba(var(--ui2-primitive-soft-grey-500-rgb), 0.52);
  --ui2-shade-soft-grey-48: rgba(var(--ui2-primitive-soft-grey-500-rgb), 0.48);
  --ui2-shade-soft-grey-44: rgba(var(--ui2-primitive-soft-grey-500-rgb), 0.44);
  --ui2-shade-soft-grey-40: rgba(var(--ui2-primitive-soft-grey-500-rgb), 0.4);
  --ui2-shade-soft-grey-36: rgba(var(--ui2-primitive-soft-grey-500-rgb), 0.36);
  --ui2-shade-soft-grey-32: rgba(var(--ui2-primitive-soft-grey-500-rgb), 0.32);
  --ui2-shade-soft-grey-28: rgba(var(--ui2-primitive-soft-grey-500-rgb), 0.28);
  --ui2-shade-soft-grey-24: rgba(var(--ui2-primitive-soft-grey-500-rgb), 0.24);
  --ui2-shade-soft-grey-20: rgba(var(--ui2-primitive-soft-grey-500-rgb), 0.2);
  --ui2-shade-soft-grey-16: rgba(var(--ui2-primitive-soft-grey-500-rgb), 0.16);
  --ui2-shade-soft-grey-12: rgba(var(--ui2-primitive-soft-grey-500-rgb), 0.12);
  --ui2-shade-soft-grey-8: rgba(var(--ui2-primitive-soft-grey-500-rgb), 0.08);
  --ui2-shade-soft-grey-4: rgba(var(--ui2-primitive-soft-grey-500-rgb), 0.04);
  --ui2-shade-black-100: rgba(var(--ui2-primitive-black-100-rgb), 1);
  --ui2-shade-black-96: rgba(var(--ui2-primitive-black-100-rgb), 0.96);
  --ui2-shade-black-92: rgba(var(--ui2-primitive-black-100-rgb), 0.92);
  --ui2-shade-black-88: rgba(var(--ui2-primitive-black-100-rgb), 0.88);
  --ui2-shade-black-84: rgba(var(--ui2-primitive-black-100-rgb), 0.84);
  --ui2-shade-black-80: rgba(var(--ui2-primitive-black-100-rgb), 0.8);
  --ui2-shade-black-76: rgba(var(--ui2-primitive-black-100-rgb), 0.76);
  --ui2-shade-black-72: rgba(var(--ui2-primitive-black-100-rgb), 0.72);
  --ui2-shade-black-68: rgba(var(--ui2-primitive-black-100-rgb), 0.68);
  --ui2-shade-black-64: rgba(var(--ui2-primitive-black-100-rgb), 0.64);
  --ui2-shade-black-60: rgba(var(--ui2-primitive-black-100-rgb), 0.6);
  --ui2-shade-black-56: rgba(var(--ui2-primitive-black-100-rgb), 0.56);
  --ui2-shade-black-52: rgba(var(--ui2-primitive-black-100-rgb), 0.52);
  --ui2-shade-black-48: rgba(var(--ui2-primitive-black-100-rgb), 0.48);
  --ui2-shade-black-44: rgba(var(--ui2-primitive-black-100-rgb), 0.44);
  --ui2-shade-black-40: rgba(var(--ui2-primitive-black-100-rgb), 0.4);
  --ui2-shade-black-36: rgba(var(--ui2-primitive-black-100-rgb), 0.36);
  --ui2-shade-black-32: rgba(var(--ui2-primitive-black-100-rgb), 0.32);
  --ui2-shade-black-28: rgba(var(--ui2-primitive-black-100-rgb), 0.28);
  --ui2-shade-black-24: rgba(var(--ui2-primitive-black-100-rgb), 0.24);
  --ui2-shade-black-20: rgba(var(--ui2-primitive-black-100-rgb), 0.2);
  --ui2-shade-black-16: rgba(var(--ui2-primitive-black-100-rgb), 0.16);
  --ui2-shade-black-12: rgba(var(--ui2-primitive-black-100-rgb), 0.12);
  --ui2-shade-black-8: rgba(var(--ui2-primitive-black-100-rgb), 0.08);
  --ui2-shade-black-4: rgba(var(--ui2-primitive-black-100-rgb), 0.04);
  --ui2-shade-white-100: rgba(var(--ui2-primitive-white-100-rgb), 1);
  --ui2-shade-white-96: rgba(var(--ui2-primitive-white-100-rgb), 0.96);
  --ui2-shade-white-92: rgba(var(--ui2-primitive-white-100-rgb), 0.92);
  --ui2-shade-white-88: rgba(var(--ui2-primitive-white-100-rgb), 0.88);
  --ui2-shade-white-84: rgba(var(--ui2-primitive-white-100-rgb), 0.84);
  --ui2-shade-white-80: rgba(var(--ui2-primitive-white-100-rgb), 0.8);
  --ui2-shade-white-76: rgba(var(--ui2-primitive-white-100-rgb), 0.76);
  --ui2-shade-white-72: rgba(var(--ui2-primitive-white-100-rgb), 0.72);
  --ui2-shade-white-68: rgba(var(--ui2-primitive-white-100-rgb), 0.68);
  --ui2-shade-white-64: rgba(var(--ui2-primitive-white-100-rgb), 0.64);
  --ui2-shade-white-60: rgba(var(--ui2-primitive-white-100-rgb), 0.6);
  --ui2-shade-white-56: rgba(var(--ui2-primitive-white-100-rgb), 0.56);
  --ui2-shade-white-52: rgba(var(--ui2-primitive-white-100-rgb), 0.52);
  --ui2-shade-white-48: rgba(var(--ui2-primitive-white-100-rgb), 0.48);
  --ui2-shade-white-44: rgba(var(--ui2-primitive-white-100-rgb), 0.44);
  --ui2-shade-white-40: rgba(var(--ui2-primitive-white-100-rgb), 0.4);
  --ui2-shade-white-36: rgba(var(--ui2-primitive-white-100-rgb), 0.36);
  --ui2-shade-white-32: rgba(var(--ui2-primitive-white-100-rgb), 0.32);
  --ui2-shade-white-28: rgba(var(--ui2-primitive-white-100-rgb), 0.28);
  --ui2-shade-white-24: rgba(var(--ui2-primitive-white-100-rgb), 0.24);
  --ui2-shade-white-20: rgba(var(--ui2-primitive-white-100-rgb), 0.2);
  --ui2-shade-white-16: rgba(var(--ui2-primitive-white-100-rgb), 0.16);
  --ui2-shade-white-12: rgba(var(--ui2-primitive-white-100-rgb), 0.12);
  --ui2-shade-white-8: rgba(var(--ui2-primitive-white-100-rgb), 0.08);
  --ui2-shade-white-4: rgba(var(--ui2-primitive-white-100-rgb), 0.04);
}

