:root {
  /* UI2 semantic variables */
  --ui2-content-inactive: rgba(210, 211, 217, 1);
  --ui2-content-primary: var(--ui2-primitive-soft-grey-100);
  --ui2-background-tertiary: rgba(235, 236, 242, 1);
  --ui2-state-focus: rgba(51, 85, 255, 1);
  --ui2-state-hover-inverse: rgba(245, 245, 245, 0.12);
  --ui2-background-tone-5: var(--ui2-primitive-soft-grey-900);
  --ui2-state-hover-lvl-1: var(--ui2-shade-black-4);
  --ui2-background-primary: var(--ui2-primitive-white-100);
  --ui2-state-active: rgba(126, 87, 194, 1);
  --ui2-stroke-tertiary: rgba(240, 241, 244, 1);
  --ui2-background-accent-primary: var(--ui2-data-pine-forest);
  --ui2-background-primary-inverse: rgba(14, 26, 50, 1);
  --ui2-stroke-primary: rgba(213, 214, 217, 1);
  --ui2-content-secondary: var(--ui2-primitive-soft-grey-400);
  --ui2-state-hover-lvl-2: var(--ui2-shade-black-8);
  --ui2-content-primary-inverse: var(--ui2-primitive-soft-grey-900);
  --ui2-content-secondary-inverse: rgba(245, 245, 245, 0.85);
  --ui2-stroke-tertiary-inverse: rgba(62, 71, 89, 1);
  --ui2-background-tone-3: rgba(250, 250, 250, 1);
  --ui2-background-accent-primary-shade: var(--ui2-data-pine-forest-shade);
  --ui2-state-error: var(--ui2-primitive-ember-rose-400);
  --ui2-state-error-shade: var(--ui2-shade-ember-rose-12);
  --ui2-state-warning: var(--ui2-primitive-desert-sunrise-450);
  --ui2-state-warning-shade: var(--ui2-shade-desert-sunrise-16);
  --ui2-content-tertiary: var(--ui2-primitive-soft-grey-550);
  --ui2-stroke-secondary: rgba(228, 229, 232, 1);
  --ui2-state-success: var(--ui2-primitive-minted-lagoon-500);
  --ui2-state-success-shade: var(--ui2-shade-minted-lagoon-12);
  --ui2-data-pine-forest: var(--ui2-primitive-pine-forest-500);
  --ui2-data-coral-blaze: var(--ui2-primitive-coral-blaze-500);
  --ui2-data-dark-navy: var(--ui2-primitive-dark-navy-400);
  --ui2-data-lavender-mist: var(--ui2-primitive-lavender-mist-750);
  --ui2-data-pine-forest-light: var(--ui2-primitive-pine-forest-900);
  --ui2-data-coral-blaze-shade: var(--ui2-shade-coral-blaze-12);
  --ui2-data-dark-navy-light: var(--ui2-primitive-dark-navy-900);
  --ui2-data-lavender-mist-light: var(--ui2-primitive-lavender-mist-900);
  --ui2-content-tertiary-inverse: rgba(245, 245, 245, 0.55);
  --ui2-data-ember-rose: var(--ui2-primitive-ember-rose-400);
  --ui2-data-ember-rose-shade: var(--ui2-shade-ember-rose-12);
  --ui2-data-pine-forest-shade: var(--ui2-shade-pine-forest-12);
  --ui2-data-ember-rose-light: var(--ui2-primitive-ember-rose-900);
  --ui2-data-coral-blaze-light: var(--ui2-primitive-coral-blaze-900);
  --ui2-data-desert-sunrise: var(--ui2-primitive-desert-sunrise-450);
  --ui2-data-desert-sunrise-light: var(--ui2-primitive-desert-sunrise-900);
  --ui2-data-desert-sunrise-shade: var(--ui2-shade-desert-sunrise-16);
  --ui2-data-lavender-mist-shade: var(--ui2-shade-lavender-mist-12);
  --ui2-data-minted-lagoon: var(--ui2-primitive-minted-lagoon-500);
  --ui2-data-minted-lagoon-light: var(--ui2-primitive-minted-lagoon-900);
  --ui2-data-minted-lagoon-shade: var(--ui2-shade-minted-lagoon-12);
  --ui2-data-ocean-breeze: var(--ui2-primitive-ocean-breeze-500);
  --ui2-data-ocean-breeze-light: var(--ui2-primitive-ocean-breeze-900);
  --ui2-data-ocean-breeze-shade: var(--ui2-shade-ocean-breeze-12);
  --ui2-data-dark-navy-shade: var(--ui2-shade-dark-navy-12);
  --ui2-data-blue-pulse: var(--ui2-primitive-blue-pulse-500);
  --ui2-data-blue-pulse-light: var(--ui2-primitive-blue-pulse-900);
  --ui2-data-blue-pulse-shade: var(--ui2-shade-blue-pulse-12);
  --ui2-data-mystic-violet: var(--ui2-primitive-mystic-violet-550);
  --ui2-data-mystic-violet-light: var(--ui2-primitive-mystic-violet-900);
  --ui2-data-mystic-violet-shade: var(--ui2-shade-mystic-violet-12);
}

