:root {
  /* Added for variable normalization */
  /* UI2 primitives */
  --ui2-primitive-ember-rose-100: rgba(8, 0, 0, 1);
  --ui2-primitive-ember-rose-100-rgb: 8, 0, 0;
  --ui2-primitive-ember-rose-150: rgba(37, 0, 0, 1);
  --ui2-primitive-ember-rose-150-rgb: 37, 0, 0;
  --ui2-primitive-ember-rose-200: rgba(67, 0, 0, 1);
  --ui2-primitive-ember-rose-200-rgb: 67, 0, 0;
  --ui2-primitive-ember-rose-250: rgba(99, 0, 0, 1);
  --ui2-primitive-ember-rose-250-rgb: 99, 0, 0;
  --ui2-primitive-ember-rose-300: rgba(127, 0, 0, 1);
  --ui2-primitive-ember-rose-300-rgb: 127, 0, 0;
  --ui2-primitive-ember-rose-350: rgba(153, 0, 1, 1);
  --ui2-primitive-ember-rose-350-rgb: 153, 0, 1;
  --ui2-primitive-ember-rose-400: rgba(178, 0, 27, 1);
  --ui2-primitive-ember-rose-400-rgb: 178, 0, 27;
  --ui2-primitive-ember-rose-450: rgba(204, 23, 49, 1);
  --ui2-primitive-ember-rose-450-rgb: 204, 23, 49;
  --ui2-primitive-ember-rose-500: rgba(230, 57, 70, 1);
  --ui2-primitive-ember-rose-500-rgb: 230, 57, 70;
  --ui2-primitive-ember-rose-550: rgba(247, 75, 84, 1);
  --ui2-primitive-ember-rose-550-rgb: 247, 75, 84;
  --ui2-primitive-ember-rose-600: rgba(255, 91, 97, 1);
  --ui2-primitive-ember-rose-600-rgb: 255, 91, 97;
  --ui2-primitive-ember-rose-650: rgba(255, 112, 114, 1);
  --ui2-primitive-ember-rose-650-rgb: 255, 112, 114;
  --ui2-primitive-ember-rose-700: rgba(255, 134, 134, 1);
  --ui2-primitive-ember-rose-700-rgb: 255, 134, 134;
  --ui2-primitive-ember-rose-750: rgba(255, 157, 155, 1);
  --ui2-primitive-ember-rose-750-rgb: 255, 157, 155;
  --ui2-primitive-ember-rose-800: rgba(255, 181, 177, 1);
  --ui2-primitive-ember-rose-800-rgb: 255, 181, 177;
  --ui2-primitive-ember-rose-850: rgba(255, 205, 200, 1);
  --ui2-primitive-ember-rose-850-rgb: 255, 205, 200;
  --ui2-primitive-ember-rose-900: rgba(255, 229, 225, 1);
  --ui2-primitive-ember-rose-900-rgb: 255, 229, 225;
  --ui2-primitive-coral-blaze-100: rgba(8, 0, 0, 1);
  --ui2-primitive-coral-blaze-100-rgb: 8, 0, 0;
  --ui2-primitive-coral-blaze-150: rgba(34, 0, 0, 1);
  --ui2-primitive-coral-blaze-150-rgb: 34, 0, 0;
  --ui2-primitive-coral-blaze-200: rgba(62, 0, 0, 1);
  --ui2-primitive-coral-blaze-200-rgb: 62, 0, 0;
  --ui2-primitive-coral-blaze-250: rgba(91, 0, 0, 1);
  --ui2-primitive-coral-blaze-250-rgb: 91, 0, 0;
  --ui2-primitive-coral-blaze-300: rgba(142, 0, 0, 1);
  --ui2-primitive-coral-blaze-300-rgb: 142, 0, 0;
  --ui2-primitive-coral-blaze-350: rgba(166, 0, 0, 1);
  --ui2-primitive-coral-blaze-350-rgb: 166, 0, 0;
  --ui2-primitive-coral-blaze-400: rgba(189, 22, 0, 1);
  --ui2-primitive-coral-blaze-400-rgb: 189, 22, 0;
  --ui2-primitive-coral-blaze-450: rgba(213, 53, 30, 1);
  --ui2-primitive-coral-blaze-450-rgb: 213, 53, 30;
  --ui2-primitive-coral-blaze-500: rgba(238, 78, 54, 1);
  --ui2-primitive-coral-blaze-500-rgb: 238, 78, 54;
  --ui2-primitive-coral-blaze-550: rgba(251, 91, 66, 1);
  --ui2-primitive-coral-blaze-550-rgb: 251, 91, 66;
  --ui2-primitive-coral-blaze-600: rgba(255, 105, 79, 1);
  --ui2-primitive-coral-blaze-600-rgb: 255, 105, 79;
  --ui2-primitive-coral-blaze-650: rgba(255, 121, 96, 1);
  --ui2-primitive-coral-blaze-650-rgb: 255, 121, 96;
  --ui2-primitive-coral-blaze-700: rgba(255, 157, 133, 1);
  --ui2-primitive-coral-blaze-700-rgb: 255, 157, 133;
  --ui2-primitive-coral-blaze-750: rgba(255, 175, 153, 1);
  --ui2-primitive-coral-blaze-750-rgb: 255, 175, 153;
  --ui2-primitive-coral-blaze-800: rgba(255, 193, 174, 1);
  --ui2-primitive-coral-blaze-800-rgb: 255, 193, 174;
  --ui2-primitive-coral-blaze-850: rgba(255, 212, 196, 1);
  --ui2-primitive-coral-blaze-850-rgb: 255, 212, 196;
  --ui2-primitive-coral-blaze-900: rgba(255, 231, 218, 1);
  --ui2-primitive-coral-blaze-900-rgb: 255, 231, 218;
  --ui2-primitive-desert-sunrise-100: rgba(3, 0, 0, 1);
  --ui2-primitive-desert-sunrise-100-rgb: 3, 0, 0;
  --ui2-primitive-desert-sunrise-150: rgba(21, 0, 0, 1);
  --ui2-primitive-desert-sunrise-150-rgb: 21, 0, 0;
  --ui2-primitive-desert-sunrise-200: rgba(43, 0, 0, 1);
  --ui2-primitive-desert-sunrise-200-rgb: 43, 0, 0;
  --ui2-primitive-desert-sunrise-250: rgba(66, 8, 0, 1);
  --ui2-primitive-desert-sunrise-250-rgb: 66, 8, 0;
  --ui2-primitive-desert-sunrise-300: rgba(109, 45, 0, 1);
  --ui2-primitive-desert-sunrise-300-rgb: 109, 45, 0;
  --ui2-primitive-desert-sunrise-350: rgba(129, 65, 0, 1);
  --ui2-primitive-desert-sunrise-350-rgb: 129, 65, 0;
  --ui2-primitive-desert-sunrise-400: rgba(151, 85, 0, 1);
  --ui2-primitive-desert-sunrise-400-rgb: 151, 85, 0;
  --ui2-primitive-desert-sunrise-450: rgba(172, 104, 0, 1);
  --ui2-primitive-desert-sunrise-450-rgb: 172, 104, 0;
  --ui2-primitive-desert-sunrise-500: rgba(194, 125, 13, 1);
  --ui2-primitive-desert-sunrise-500-rgb: 194, 125, 13;
  --ui2-primitive-desert-sunrise-550: rgba(206, 136, 35, 1);
  --ui2-primitive-desert-sunrise-550-rgb: 206, 136, 35;
  --ui2-primitive-desert-sunrise-600: rgba(218, 148, 54, 1);
  --ui2-primitive-desert-sunrise-600-rgb: 218, 148, 54;
  --ui2-primitive-desert-sunrise-650: rgba(228, 161, 75, 1);
  --ui2-primitive-desert-sunrise-650-rgb: 228, 161, 75;
  --ui2-primitive-desert-sunrise-700: rgba(245, 188, 119, 1);
  --ui2-primitive-desert-sunrise-700-rgb: 245, 188, 119;
  --ui2-primitive-desert-sunrise-750: rgba(253, 201, 141, 1);
  --ui2-primitive-desert-sunrise-750-rgb: 253, 201, 141;
  --ui2-primitive-desert-sunrise-800: rgba(255, 215, 164, 1);
  --ui2-primitive-desert-sunrise-800-rgb: 255, 215, 164;
  --ui2-primitive-desert-sunrise-850: rgba(255, 229, 188, 1);
  --ui2-primitive-desert-sunrise-850-rgb: 255, 229, 188;
  --ui2-primitive-desert-sunrise-900: rgba(255, 243, 212, 1);
  --ui2-primitive-desert-sunrise-900-rgb: 255, 243, 212;
  --ui2-primitive-lavender-mist-100: rgba(21, 7, 24, 1);
  --ui2-primitive-lavender-mist-100-rgb: 21, 7, 24;
  --ui2-primitive-lavender-mist-150: rgba(30, 10, 35, 1);
  --ui2-primitive-lavender-mist-150-rgb: 30, 10, 35;
  --ui2-primitive-lavender-mist-200: rgba(40, 13, 46, 1);
  --ui2-primitive-lavender-mist-200-rgb: 40, 13, 46;
  --ui2-primitive-lavender-mist-250: rgba(55, 22, 62, 1);
  --ui2-primitive-lavender-mist-250-rgb: 55, 22, 62;
  --ui2-primitive-lavender-mist-300: rgba(73, 38, 81, 1);
  --ui2-primitive-lavender-mist-300-rgb: 73, 38, 81;
  --ui2-primitive-lavender-mist-350: rgba(94, 57, 102, 1);
  --ui2-primitive-lavender-mist-350-rgb: 94, 57, 102;
  --ui2-primitive-lavender-mist-400: rgba(115, 78, 124, 1);
  --ui2-primitive-lavender-mist-400-rgb: 115, 78, 124;
  --ui2-primitive-lavender-mist-450: rgba(137, 98, 146, 1);
  --ui2-primitive-lavender-mist-450-rgb: 137, 98, 146;
  --ui2-primitive-lavender-mist-500: rgba(160, 120, 169, 1);
  --ui2-primitive-lavender-mist-500-rgb: 160, 120, 169;
  --ui2-primitive-lavender-mist-550: rgba(174, 133, 183, 1);
  --ui2-primitive-lavender-mist-550-rgb: 174, 133, 183;
  --ui2-primitive-lavender-mist-600: rgba(187, 147, 197, 1);
  --ui2-primitive-lavender-mist-600-rgb: 187, 147, 197;
  --ui2-primitive-lavender-mist-650: rgba(201, 161, 209, 1);
  --ui2-primitive-lavender-mist-650-rgb: 201, 161, 209;
  --ui2-primitive-lavender-mist-700: rgba(213, 177, 221, 1);
  --ui2-primitive-lavender-mist-700-rgb: 213, 177, 221;
  --ui2-primitive-lavender-mist-750: rgba(224, 192, 232, 1);
  --ui2-primitive-lavender-mist-750-rgb: 224, 192, 232;
  --ui2-primitive-lavender-mist-800: rgba(236, 208, 242, 1);
  --ui2-primitive-lavender-mist-800-rgb: 236, 208, 242;
  --ui2-primitive-lavender-mist-850: rgba(247, 225, 252, 1);
  --ui2-primitive-lavender-mist-850-rgb: 247, 225, 252;
  --ui2-primitive-lavender-mist-900: rgba(248, 238, 250, 1);
  --ui2-primitive-lavender-mist-900-rgb: 248, 238, 250;
  --ui2-primitive-minted-lagoon-100: rgba(0, 1, 0, 1);
  --ui2-primitive-minted-lagoon-100-rgb: 0, 1, 0;
  --ui2-primitive-minted-lagoon-150: rgba(0, 10, 2, 1);
  --ui2-primitive-minted-lagoon-150-rgb: 0, 10, 2;
  --ui2-primitive-minted-lagoon-200: rgba(0, 27, 9, 1);
  --ui2-primitive-minted-lagoon-200-rgb: 0, 27, 9;
  --ui2-primitive-minted-lagoon-250: rgba(0, 46, 23, 1);
  --ui2-primitive-minted-lagoon-250-rgb: 0, 46, 23;
  --ui2-primitive-minted-lagoon-300: rgba(0, 84, 55, 1);
  --ui2-primitive-minted-lagoon-300-rgb: 0, 84, 55;
  --ui2-primitive-minted-lagoon-350: rgba(0, 104, 73, 1);
  --ui2-primitive-minted-lagoon-350-rgb: 0, 104, 73;
  --ui2-primitive-minted-lagoon-400: rgba(0, 124, 91, 1);
  --ui2-primitive-minted-lagoon-400-rgb: 0, 124, 91;
  --ui2-primitive-minted-lagoon-450: rgba(0, 144, 110, 1);
  --ui2-primitive-minted-lagoon-450-rgb: 0, 144, 110;
  --ui2-primitive-minted-lagoon-500: rgba(24, 165, 130, 1);
  --ui2-primitive-minted-lagoon-500-rgb: 24, 165, 130;
  --ui2-primitive-minted-lagoon-550: rgba(46, 177, 141, 1);
  --ui2-primitive-minted-lagoon-550-rgb: 46, 177, 141;
  --ui2-primitive-minted-lagoon-600: rgba(65, 188, 153, 1);
  --ui2-primitive-minted-lagoon-600-rgb: 65, 188, 153;
  --ui2-primitive-minted-lagoon-650: rgba(86, 199, 165, 1);
  --ui2-primitive-minted-lagoon-650-rgb: 86, 199, 165;
  --ui2-primitive-minted-lagoon-700: rgba(130, 221, 190, 1);
  --ui2-primitive-minted-lagoon-700-rgb: 130, 221, 190;
  --ui2-primitive-minted-lagoon-750: rgba(152, 231, 203, 1);
  --ui2-primitive-minted-lagoon-750-rgb: 152, 231, 203;
  --ui2-primitive-minted-lagoon-800: rgba(174, 240, 216, 1);
  --ui2-primitive-minted-lagoon-800-rgb: 174, 240, 216;
  --ui2-primitive-minted-lagoon-850: rgba(197, 250, 230, 1);
  --ui2-primitive-minted-lagoon-850-rgb: 197, 250, 230;
  --ui2-primitive-minted-lagoon-900: rgba(220, 255, 244, 1);
  --ui2-primitive-minted-lagoon-900-rgb: 220, 255, 244;
  --ui2-primitive-pine-forest-100: rgba(0, 0, 1, 1);
  --ui2-primitive-pine-forest-100-rgb: 0, 0, 1;
  --ui2-primitive-pine-forest-150: rgba(0, 4, 5, 1);
  --ui2-primitive-pine-forest-150-rgb: 0, 4, 5;
  --ui2-primitive-pine-forest-200: rgba(0, 14, 16, 1);
  --ui2-primitive-pine-forest-200-rgb: 0, 14, 16;
  --ui2-primitive-pine-forest-250: rgba(0, 26, 28, 1);
  --ui2-primitive-pine-forest-250-rgb: 0, 26, 28;
  --ui2-primitive-pine-forest-300: rgba(0, 52, 54, 1);
  --ui2-primitive-pine-forest-300-rgb: 0, 52, 54;
  --ui2-primitive-pine-forest-350: rgba(0, 65, 67, 1);
  --ui2-primitive-pine-forest-350-rgb: 0, 65, 67;
  --ui2-primitive-pine-forest-400: rgba(0, 79, 80, 1);
  --ui2-primitive-pine-forest-400-rgb: 0, 79, 80;
  --ui2-primitive-pine-forest-450: rgba(14, 93, 94, 1);
  --ui2-primitive-pine-forest-450-rgb: 14, 93, 94;
  --ui2-primitive-pine-forest-500: rgba(34, 107, 108, 1);
  --ui2-primitive-pine-forest-500-rgb: 34, 107, 108;
  --ui2-primitive-pine-forest-550: rgba(53, 123, 124, 1);
  --ui2-primitive-pine-forest-550-rgb: 53, 123, 124;
  --ui2-primitive-pine-forest-600: rgba(70, 140, 140, 1);
  --ui2-primitive-pine-forest-600-rgb: 70, 140, 140;
  --ui2-primitive-pine-forest-650: rgba(88, 157, 157, 1);
  --ui2-primitive-pine-forest-650-rgb: 88, 157, 157;
  --ui2-primitive-pine-forest-700: rgba(126, 191, 191, 1);
  --ui2-primitive-pine-forest-700-rgb: 126, 191, 191;
  --ui2-primitive-pine-forest-750: rgba(149, 207, 207, 1);
  --ui2-primitive-pine-forest-750-rgb: 149, 207, 207;
  --ui2-primitive-pine-forest-800: rgba(175, 223, 223, 1);
  --ui2-primitive-pine-forest-800-rgb: 175, 223, 223;
  --ui2-primitive-pine-forest-850: rgba(202, 239, 239, 1);
  --ui2-primitive-pine-forest-850-rgb: 202, 239, 239;
  --ui2-primitive-pine-forest-900: rgba(229, 254, 254, 1);
  --ui2-primitive-pine-forest-900-rgb: 229, 254, 254;
  --ui2-primitive-ocean-breeze-100: rgba(0, 0, 3, 1);
  --ui2-primitive-ocean-breeze-100-rgb: 0, 0, 3;
  --ui2-primitive-ocean-breeze-150: rgba(0, 6, 18, 1);
  --ui2-primitive-ocean-breeze-150-rgb: 0, 6, 18;
  --ui2-primitive-ocean-breeze-200: rgba(0, 20, 38, 1);
  --ui2-primitive-ocean-breeze-200-rgb: 0, 20, 38;
  --ui2-primitive-ocean-breeze-250: rgba(0, 37, 59, 1);
  --ui2-primitive-ocean-breeze-250-rgb: 0, 37, 59;
  --ui2-primitive-ocean-breeze-300: rgba(0, 73, 99, 1);
  --ui2-primitive-ocean-breeze-300-rgb: 0, 73, 99;
  --ui2-primitive-ocean-breeze-350: rgba(0, 92, 118, 1);
  --ui2-primitive-ocean-breeze-350-rgb: 0, 92, 118;
  --ui2-primitive-ocean-breeze-400: rgba(32, 112, 138, 1);
  --ui2-primitive-ocean-breeze-400-rgb: 32, 112, 138;
  --ui2-primitive-ocean-breeze-450: rgba(56, 132, 159, 1);
  --ui2-primitive-ocean-breeze-450-rgb: 56, 132, 159;
  --ui2-primitive-ocean-breeze-500: rgba(77, 152, 180, 1);
  --ui2-primitive-ocean-breeze-500-rgb: 77, 152, 180;
  --ui2-primitive-ocean-breeze-550: rgba(89, 164, 192, 1);
  --ui2-primitive-ocean-breeze-550-rgb: 89, 164, 192;
  --ui2-primitive-ocean-breeze-600: rgba(102, 175, 204, 1);
  --ui2-primitive-ocean-breeze-600-rgb: 102, 175, 204;
  --ui2-primitive-ocean-breeze-650: rgba(117, 187, 214, 1);
  --ui2-primitive-ocean-breeze-650-rgb: 117, 187, 214;
  --ui2-primitive-ocean-breeze-700: rgba(151, 209, 233, 1);
  --ui2-primitive-ocean-breeze-700-rgb: 151, 209, 233;
  --ui2-primitive-ocean-breeze-750: rgba(170, 221, 242, 1);
  --ui2-primitive-ocean-breeze-750-rgb: 170, 221, 242;
  --ui2-primitive-ocean-breeze-800: rgba(188, 232, 250, 1);
  --ui2-primitive-ocean-breeze-800-rgb: 188, 232, 250;
  --ui2-primitive-ocean-breeze-850: rgba(207, 243, 255, 1);
  --ui2-primitive-ocean-breeze-850-rgb: 207, 243, 255;
  --ui2-primitive-ocean-breeze-900: rgba(227, 254, 255, 1);
  --ui2-primitive-ocean-breeze-900-rgb: 227, 254, 255;
  --ui2-primitive-dark-navy-100: rgba(0, 0, 2, 1);
  --ui2-primitive-dark-navy-100-rgb: 0, 0, 2;
  --ui2-primitive-dark-navy-150: rgba(0, 1, 8, 1);
  --ui2-primitive-dark-navy-150-rgb: 0, 1, 8;
  --ui2-primitive-dark-navy-200: rgba(0, 4, 17, 1);
  --ui2-primitive-dark-navy-200-rgb: 0, 4, 17;
  --ui2-primitive-dark-navy-250: rgba(1, 10, 27, 1);
  --ui2-primitive-dark-navy-250-rgb: 1, 10, 27;
  --ui2-primitive-dark-navy-300: rgba(7, 26, 47, 1);
  --ui2-primitive-dark-navy-300-rgb: 7, 26, 47;
  --ui2-primitive-dark-navy-350: rgba(14, 35, 58, 1);
  --ui2-primitive-dark-navy-350-rgb: 14, 35, 58;
  --ui2-primitive-dark-navy-400: rgba(21, 44, 69, 1);
  --ui2-primitive-dark-navy-400-rgb: 21, 44, 69;
  --ui2-primitive-dark-navy-450: rgba(29, 53, 79, 1);
  --ui2-primitive-dark-navy-450-rgb: 29, 53, 79;
  --ui2-primitive-dark-navy-500: rgba(38, 62, 89, 1);
  --ui2-primitive-dark-navy-500-rgb: 38, 62, 89;
  --ui2-primitive-dark-navy-550: rgba(56, 81, 109, 1);
  --ui2-primitive-dark-navy-550-rgb: 56, 81, 109;
  --ui2-primitive-dark-navy-600: rgba(75, 100, 129, 1);
  --ui2-primitive-dark-navy-600-rgb: 75, 100, 129;
  --ui2-primitive-dark-navy-650: rgba(94, 120, 150, 1);
  --ui2-primitive-dark-navy-650-rgb: 94, 120, 150;
  --ui2-primitive-dark-navy-700: rgba(135, 162, 194, 1);
  --ui2-primitive-dark-navy-700-rgb: 135, 162, 194;
  --ui2-primitive-dark-navy-750: rgba(158, 184, 213, 1);
  --ui2-primitive-dark-navy-750-rgb: 158, 184, 213;
  --ui2-primitive-dark-navy-800: rgba(184, 206, 231, 1);
  --ui2-primitive-dark-navy-800-rgb: 184, 206, 231;
  --ui2-primitive-dark-navy-850: rgba(210, 228, 248, 1);
  --ui2-primitive-dark-navy-850-rgb: 210, 228, 248;
  --ui2-primitive-dark-navy-900: rgba(239, 250, 255, 1);
  --ui2-primitive-dark-navy-900-rgb: 239, 250, 255;
  --ui2-primitive-blue-pulse-100: rgba(3, 0, 26, 1);
  --ui2-primitive-blue-pulse-100-rgb: 3, 0, 26;
  --ui2-primitive-blue-pulse-150: rgba(6, 0, 52, 1);
  --ui2-primitive-blue-pulse-150-rgb: 6, 0, 52;
  --ui2-primitive-blue-pulse-200: rgba(9, 0, 81, 1);
  --ui2-primitive-blue-pulse-200-rgb: 9, 0, 81;
  --ui2-primitive-blue-pulse-250: rgba(11, 0, 110, 1);
  --ui2-primitive-blue-pulse-250-rgb: 11, 0, 110;
  --ui2-primitive-blue-pulse-300: rgba(15, 1, 162, 1);
  --ui2-primitive-blue-pulse-300-rgb: 15, 1, 162;
  --ui2-primitive-blue-pulse-350: rgba(21, 36, 182, 1);
  --ui2-primitive-blue-pulse-350-rgb: 21, 36, 182;
  --ui2-primitive-blue-pulse-400: rgba(31, 59, 202, 1);
  --ui2-primitive-blue-pulse-400-rgb: 31, 59, 202;
  --ui2-primitive-blue-pulse-450: rgba(44, 79, 222, 1);
  --ui2-primitive-blue-pulse-450-rgb: 44, 79, 222;
  --ui2-primitive-blue-pulse-500: rgba(58, 98, 242, 1);
  --ui2-primitive-blue-pulse-500-rgb: 58, 98, 242;
  --ui2-primitive-blue-pulse-550: rgba(70, 114, 255, 1);
  --ui2-primitive-blue-pulse-550-rgb: 70, 114, 255;
  --ui2-primitive-blue-pulse-600: rgba(83, 129, 255, 1);
  --ui2-primitive-blue-pulse-600-rgb: 83, 129, 255;
  --ui2-primitive-blue-pulse-650: rgba(96, 145, 255, 1);
  --ui2-primitive-blue-pulse-650-rgb: 96, 145, 255;
  --ui2-primitive-blue-pulse-700: rgba(131, 179, 255, 1);
  --ui2-primitive-blue-pulse-700-rgb: 131, 179, 255;
  --ui2-primitive-blue-pulse-750: rgba(152, 196, 255, 1);
  --ui2-primitive-blue-pulse-750-rgb: 152, 196, 255;
  --ui2-primitive-blue-pulse-800: rgba(174, 214, 255, 1);
  --ui2-primitive-blue-pulse-800-rgb: 174, 214, 255;
  --ui2-primitive-blue-pulse-850: rgba(198, 231, 255, 1);
  --ui2-primitive-blue-pulse-850-rgb: 198, 231, 255;
  --ui2-primitive-blue-pulse-900: rgba(224, 248, 255, 1);
  --ui2-primitive-blue-pulse-900-rgb: 224, 248, 255;
  --ui2-primitive-mystic-violet-100: rgba(1, 0, 13, 1);
  --ui2-primitive-mystic-violet-100-rgb: 1, 0, 13;
  --ui2-primitive-mystic-violet-150: rgba(8, 0, 42, 1);
  --ui2-primitive-mystic-violet-150-rgb: 8, 0, 42;
  --ui2-primitive-mystic-violet-200: rgba(21, 0, 72, 1);
  --ui2-primitive-mystic-violet-200-rgb: 21, 0, 72;
  --ui2-primitive-mystic-violet-250: rgba(37, 1, 103, 1);
  --ui2-primitive-mystic-violet-250-rgb: 37, 1, 103;
  --ui2-primitive-mystic-violet-300: rgba(53, 28, 130, 1);
  --ui2-primitive-mystic-violet-300-rgb: 53, 28, 130;
  --ui2-primitive-mystic-violet-350: rgba(70, 52, 153, 1);
  --ui2-primitive-mystic-violet-350-rgb: 70, 52, 153;
  --ui2-primitive-mystic-violet-400: rgba(89, 74, 178, 1);
  --ui2-primitive-mystic-violet-400-rgb: 89, 74, 178;
  --ui2-primitive-mystic-violet-450: rgba(109, 97, 202, 1);
  --ui2-primitive-mystic-violet-450-rgb: 109, 97, 202;
  --ui2-primitive-mystic-violet-500: rgba(130, 119, 227, 1);
  --ui2-primitive-mystic-violet-500-rgb: 130, 119, 227;
  --ui2-primitive-mystic-violet-550: rgba(143, 133, 242, 1);
  --ui2-primitive-mystic-violet-550-rgb: 143, 133, 242;
  --ui2-primitive-mystic-violet-600: rgba(156, 147, 255, 1);
  --ui2-primitive-mystic-violet-600-rgb: 156, 147, 255;
  --ui2-primitive-mystic-violet-650: rgba(169, 162, 255, 1);
  --ui2-primitive-mystic-violet-650-rgb: 169, 162, 255;
  --ui2-primitive-mystic-violet-700: rgba(183, 178, 255, 1);
  --ui2-primitive-mystic-violet-700-rgb: 183, 178, 255;
  --ui2-primitive-mystic-violet-750: rgba(197, 194, 255, 1);
  --ui2-primitive-mystic-violet-750-rgb: 197, 194, 255;
  --ui2-primitive-mystic-violet-800: rgba(212, 210, 255, 1);
  --ui2-primitive-mystic-violet-800-rgb: 212, 210, 255;
  --ui2-primitive-mystic-violet-850: rgba(228, 227, 255, 1);
  --ui2-primitive-mystic-violet-850-rgb: 228, 227, 255;
  --ui2-primitive-mystic-violet-900: rgba(244, 244, 255, 1);
  --ui2-primitive-mystic-violet-900-rgb: 244, 244, 255;
  --ui2-primitive-soft-grey-100: rgba(1, 0, 0, 1);
  --ui2-primitive-soft-grey-100-rgb: 1, 0, 0;
  --ui2-primitive-soft-grey-150: rgba(6, 3, 4, 1);
  --ui2-primitive-soft-grey-150-rgb: 6, 3, 4;
  --ui2-primitive-soft-grey-200: rgba(19, 13, 15, 1);
  --ui2-primitive-soft-grey-200-rgb: 19, 13, 15;
  --ui2-primitive-soft-grey-250: rgba(34, 27, 29, 1);
  --ui2-primitive-soft-grey-250-rgb: 34, 27, 29;
  --ui2-primitive-soft-grey-300: rgba(66, 59, 61, 1);
  --ui2-primitive-soft-grey-300-rgb: 66, 59, 61;
  --ui2-primitive-soft-grey-350: rgba(83, 76, 78, 1);
  --ui2-primitive-soft-grey-350-rgb: 83, 76, 78;
  --ui2-primitive-soft-grey-400: rgba(101, 94, 96, 1);
  --ui2-primitive-soft-grey-400-rgb: 101, 94, 96;
  --ui2-primitive-soft-grey-450: rgba(120, 112, 114, 1);
  --ui2-primitive-soft-grey-450-rgb: 120, 112, 114;
  --ui2-primitive-soft-grey-500: rgba(133, 133, 133, 1);
  --ui2-primitive-soft-grey-500-rgb: 133, 133, 133;
  --ui2-primitive-soft-grey-550: rgba(151, 143, 145, 1);
  --ui2-primitive-soft-grey-550-rgb: 151, 143, 145;
  --ui2-primitive-soft-grey-600: rgba(163, 155, 157, 1);
  --ui2-primitive-soft-grey-600-rgb: 163, 155, 157;
  --ui2-primitive-soft-grey-650: rgba(176, 168, 170, 1);
  --ui2-primitive-soft-grey-650-rgb: 176, 168, 170;
  --ui2-primitive-soft-grey-700: rgba(202, 193, 195, 1);
  --ui2-primitive-soft-grey-700-rgb: 202, 193, 195;
  --ui2-primitive-soft-grey-750: rgba(215, 206, 208, 1);
  --ui2-primitive-soft-grey-750-rgb: 215, 206, 208;
  --ui2-primitive-soft-grey-800: rgba(228, 219, 221, 1);
  --ui2-primitive-soft-grey-800-rgb: 228, 219, 221;
  --ui2-primitive-soft-grey-850: rgba(241, 232, 235, 1);
  --ui2-primitive-soft-grey-850-rgb: 241, 232, 235;
  --ui2-primitive-soft-grey-900: rgba(245, 245, 245, 1);
  --ui2-primitive-soft-grey-900-rgb: 245, 245, 245;
  --ui2-primitive-black-100: rgba(0, 0, 0, 1);
  --ui2-primitive-black-100-rgb: 0, 0, 0;
  --ui2-primitive-white-100: rgba(255, 255, 255, 1);
  --ui2-primitive-white-100-rgb: 255, 255, 255;
}

